.game-wrapper {
  display: flex;
  margin: 15px 5px 0;

  .game {
    display: flex;
    position: relative;
    overflow: hidden;

    &:hover {
      .game-details {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.75);
        border-radius: 15px;
        color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }
  }
}
