.games {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 15px;

  .games-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

.mobile {
  .games {
    margin-top: 60px;
  }
}
